version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: budget_manager_app
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_DB_URI=mongodb://mongo:27017/budget_manager
      - REDIS_URL=redis://redis:6379
      - POSTGRES_URL=postgresql://postgres:postgres@postgres:5432/budget_manager
      - POSTGRES_EXTERNAL_PORT=5433
      - ELASTIC_SEARCH_URL=http://elasticsearch:9200
    depends_on:
      - mongo
      - redis
      - postgres
      - elasticsearch

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:6
    container_name: redis
    ports:
      - "6379:6379"

  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: budget_manager
    volumes:
      - postgres-data:/var/lib/postgresql/data

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: elasticsearch
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data

volumes:
  mongo-data:
  postgres-data:
  elasticsearch-data:
